{% include 'recipes/partials/head.html' %} <!--Para exec um comando/tarefa {% %}-->

<body>
    <header class="main-header-container">
        <div class="main-header container">
            <h1> <!--O h1 que contém o nome do site-->
                <a href="/"> <!-- link que aponta para home-->
                    <i class="fas fa-address-book"></i> <!-- Ícone-->
                    <span>Recipes {{ name }}</span> <!--Nome do site-->
                </a>
            </h1>
        </div>
    </header>
</body>

</html>